$body-background-color: #F7FAFB;
$sidebar-color: #EEF2F6;
$border-color: #D2E7FE;

$body-text-color: #001A61;
$body-heading-color: #050505;
$nav-child-link-color: #F76D02;
$search-result-preview-color: #22424F;

$link-color: #FD3A0F;
$btn-primary-color: #417E96;
$base-button-color: #417E96;

$code-background-color: #E8F0F3;
$search-background-color: #E8F0F3;
$table-background-color: #F5F7FF;
$feedback-color: darken($sidebar-color, 25%);
$feedback-link-color: darken($link-color, 5%);
