//$body-background-color: #F7FAFB;
//$body-background-color: #fcfcff;
$body-background-color: #fcfdff;

$sidebar-color: #EEF2F6;
$border-color: #D2E7FE;

$body-text-color: #001A61;
$body-heading-color: #050505;
$nav-child-link-color: #FD3A0F;
$search-result-preview-color: #22424F;

// $link-color: #FD3A0F;
$link-color: #BE3A0E;
$btn-primary-color: #417E96;
$base-button-color: #417E96;

$code-background-color: #F5F7FF;
$search-background-color: #F5F7FF;
$table-background-color: #F5F7FF;
$feedback-color: darken($sidebar-color, 25%);
$feedback-link-color: darken($link-color, 5%);
