{% if page.comments %}
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
var HYVOR_TALK_WEBSITE = 992;
var HYVOR_TALK_CONFIG = {
  url: '{{ page.url | absolute_url }}',
  id: '{{page.id}}'
};
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>


<div id="disqus_thread" class="disqus"></div>
<script>
var disqus_config = function () {
  this.page.url = "{{ page.url | absolute_url }}";
  this.page.identifier = "{{ page.id }}";
};

  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://dvtalk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endif %}


