/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/


/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

 /* start editing from here */ 
 a{text-decoration:none;} 
 .txt-rt{text-align:right;}/1* text align right *1/ 
 .txt-lt{text-align:left;}/1* text align left *1/ 
 .txt-center{text-align:center;}/1* text align center *1/ 
 .float-rt{float:right;}/1* float right *1/ 
 .float-lt{float:left;}/1* float left *1/ 
 .clear{clear:both;}/1* clear float *1/: 
 .pos-relative{position:relative;}/1* Position Relative *1/ 
 .pos-absolute{position:absolute;}/1* Position Absolute *1/ 
 .vertical-base{	vertical-align:baseline;}/1* vertical align baseline *1/ 
 .vertical-top{	vertical-align:top;}/1* vertical align top *1/ 
 .underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/1* Add 5px bottom padding and a underline *1/ 
 nav.vertical ul li{	display:block;}/1* vertical menu *1/ 
 nav.horizontal ul li{	display:inline-block;}/1* horizontal menu *1/ 
 img{max-width:100%;} 
/* end reset */

html{
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: 'Strait', sans-serif;
  /* background-image: linear-gradient(#000b10,#003b57); */
  background-image: linear-gradient(#000b10,#070b34,#2b2f77);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1{
  color: #fff;
  font-size: 30px;
  padding: 30px;
}

.banner{
  /* width: 343px; */
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.banner img{
  max-width:50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.search404{
  font-family: 'Strait', sans-serif;
  /* width:100%; */
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  position: relative;
  color: #ffffff;
  text-align: center;

}
/* .svg { */
/*   position: relative; */
/*   width:300px; */
/*   text-align: center; */
/* } */



