---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body>
  <style>
    ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    }

    <!-- ::-webkit-scrollbar-track { -->
    <!-- width: 3px; -->
    <!-- border: 1px dashed currentColor ; -->
    <!-- } -->

    ::-webkit-scrollbar-thumb {
    background: #D2E7FE;
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #BE3A0E;
    }
  </style>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout( hideURLbar, 0); }, false); function hideURLbar(){ window.scrollBy(0,40); } </script>
  {% include svg.html %}

  <div class="side-bar">
    <div class="site-header">
      <a href="{{ '/' | absolute_url }}" title="My life as a design verification engineer" class="site-title lh-tight">{% include title.html %}</a>
      <a href="#" id="menu-button" class="site-button" title="#">
        <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
      </a>
    </div>

    <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav">
      {% include nav.html %}
    </nav>

    <footer class="site-footer">

      <a href="{{ '/' }}" title="HOME">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-dvtalk"></use>
        </svg>
      </a>

      <a href="{{ '/emailme' | absolute_url }}" title="Email me">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-email"></use>
        </svg>
      </a>

      <a href="https://gist.github.com/dvtalk" title="My Gist">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-github"></use>
        </svg>
      </a>

      <a href= {{ '/edaplayground' }} title="My EDA Playground">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-edaplay"></use>
        </svg>
      </a>

      <a href="https://github.com/pmarsceill/just-the-docs" title="Just the Docs theme">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-justthedocs"></use>
        </svg>
      </a>
    </footer>
  </div>

  <div class="main" id="top">
    <div id="main-header" class="main-header">
      {% if site.search_enabled != false %}
        <div class="search">
          <div class="search-input-wrap">
            <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Type / to search, jk to move. You know the drill ;) " aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search2"></use></svg></label>
          </div>
          <div id="search-results" class="search-results"></div>
        </div>
      {% endif %}
      <!-- {% if site.aux_links %} -->
      <!--   <nav aria-label="Auxiliary" class="aux-nav"> -->
      <!--     <ul class="aux-nav-list"> -->
      <!--       {% for link in site.aux_links %} -->
      <!--         <li class="aux-nav-list-item"> -->
      <!--           <a href="{{ link.last }}" class="site-button" -->
      <!--             {% if site.aux_links_new_tab %} -->
      <!--             target="_blank" rel="noopener noreferrer" -->
      <!--             {% endif %} -->
      <!--           > -->
      <!--             {{ link.first }} -->
      <!--           </a> -->
      <!--         </li> -->
      <!--       {% endfor %} -->
      <!--     </ul> -->
      <!--   </nav> -->
      <!-- {% endif %} -->
    </div>
    <div id="main-content-wrap" class="main-content-wrap">
      {% unless page.url == "/" %}
        {% if page.parent %}
          <nav aria-label="Breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb-nav-list">
              {% if page.grand_parent %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
              {% else %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
              {% endif %}
              <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
            </ol>
          </nav>
        {% endif %}
      {% endunless %}


      <div id="main-content" class="main-content" role="main">
        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" %}
        {% else %}
          {{ content }}
        {% endif %}

        {% if page.has_children == true and page.has_toc != false %}
          <hr>
          <h2 class="text-delta">Table of contents</h2>
          <ul>
            {%- assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent -%}
            {% for child in children_list %}
              <li>
                <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.share != false %}
        <br>
        <span>
          <div data-network="linkedin" class="st-custom-button" title="Share on LinkedIn">
            <svg width="27" height="27" viewBox="0 0 1 1" class="customsvg_share"> <use xlink:href="#svg-linkedin"></use> </svg> </div>
          <div data-network="twitter" class="st-custom-button" title="Share on Twitter">
            <svg width="27" height="27" viewBox="0 0 1 1" class="customsvg_share"> <use xlink:href="#svg-twitter"></use> </svg> </div>
          <div data-network="facebook" class="st-custom-button" title="Share on Facebook" >
            <svg width="27" height="27" viewBox="0 0 1 1" class="customsvg_share"> <use xlink:href="#svg-facebook"></use> </svg> </div>
          <div data-network="print" class="st-custom-button" title="Print this page">
            <svg width="27" height="27" viewBox="0 0 1 1" class="customsvg_share"> <use xlink:href="#svg-print"></use> </svg> </div>
          <div data-network='' class="st-custom-button" id="demo" title="Copy URL" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">
            <svg width="27" height="27" viewBox="0 0 1 1" class="customsvg_share"> <use xlink:href="#svg-copy"></use> </svg></div>
          <script>
            function copyToClipboard(text) {
              var text = "{{ page.url | absolute_url }}";
              window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
            }
          </script>

        </span>
        <br>
        {% endif %}

        {% if page.tags.size > 0 %}
        <span>[Tags
          {% for tag in page.tags %}
          {% if tag != "" %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {% endif %}
          {% endfor %}
          ]</span>
        {% endif %}


        {% if page.comments == true %}
        <hr>
        {% include disqus.html %}
        {% endif %}

        {% if site.footer_content != nil or site.last_edit_timestamp or site.gh_edit_link %}
          <hr>
          <footer>

            {% if site.back_to_top %}
              <p><a href="#top" id="back-to-top" title="top">{{ site.back_to_top_text }}</a></p>
            {% endif %}
            <!-- {% if site.footer_content != nil %} -->
            <!--   <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p> -->
            <!-- {% endif %} -->

            <!-- {% if site.last_edit_timestamp or site.gh_edit_link %} -->
            <!--   <div class="d-flex mt-2"> -->
            <!--     {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %} -->
            <!--       <p class="text-small text-grey-dk-000 mb-0 mr-2"> -->
            <!--         Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>. -->
            <!--       </p> -->
            <!--     {% endif %} -->
            <!--     {% if -->
            <!--       site.gh_edit_link and -->
            <!--       site.gh_edit_link_text and -->
            <!--       site.gh_edit_repository and -->
            <!--       site.gh_edit_branch and -->
            <!--       site.gh_edit_view_mode -->
            <!--     %} -->
            <!--       <p class="text-small text-grey-dk-000 mb-0"> -->
            <!--         <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a> -->
            <!--       </p> -->
            <!--     {% endif %} -->
            <!--   </div> -->
            <!-- {% endif %} -->
          </footer>
        {% endif %}
      </div>
    </div>

    {% if page.toc_en == true %}
    <div class="toc">
      {% include toc.html html=content h_min=2 h_max=6 class="toc-list" item_class="toc-item" sanitize=true %}
    </div>
    {% endif %}


    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <a href="#" id="search-button" class="search-button" title="search">
          <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search2"></use></svg>
        </a>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap-bind-dictionary.min.js"></script>
  <script type="text/javascript" src="{{'/assets/js/vimkey.js' | absolute_url }}"></script>


</body>
</html>
