---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<body>
  <style>
    ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    }

    ::-webkit-scrollbar-track {
    width: 3px;
    border: 1px dashed #c3bfff;
    }

    ::-webkit-scrollbar-thumb {
    background:  #d4d1ff;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #7253ed;
    }
  </style>

  {% include svg.html %}

  <div class="side-bar">
    <div class="site-header">
      <a href="{{ '/' | absolute_url }}" title="{{ site.description }}" class="site-title lh-tight">{% include title.html %}</a>
      <a href="#" id="menu-button" class="site-button">
        <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
      </a>
    </div>

    <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav">
      {% include nav.html %}
    </nav>

    <footer class="site-footer">

      <a href="{{ '/emailme' | absolute_url }}" title="Email me">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-email"></use>
        </svg>
      </a>

      <a href="https://gist.github.com/dvtalk" title="My Gist">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-github"></use>
        </svg>
      </a>

      <a href="https://www.edaplayground.com" title="EDA Playground">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-edaplay"></use>
        </svg>
      </a>

      <a href="https://dvtalk.github.io" title="DVTALK">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-dvtalk"></use>
        </svg>
      </a>

      <a href="https://github.com/pmarsceill/just-the-docs" title="Just the Docs theme">
        <svg width="25" height="25" viewBox="0 0 1 1" class="customsvg">
          <use xlink:href="#svg-justthedocs"></use>
        </svg>
      </a>
    </footer>
  </div>

  <div class="main" id="top">
    <div id="main-header" class="main-header">
      {% if site.search_enabled != false %}
        <div class="search">
          <div class="search-input-wrap">
            <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search2"></use></svg></label>
          </div>
          <div id="search-results" class="search-results"></div>
        </div>
      {% endif %}
      {% if site.aux_links %}
        <nav aria-label="Auxiliary" class="aux-nav">
          <ul class="aux-nav-list">
            {% for link in site.aux_links %}
              <li class="aux-nav-list-item">
                <a href="{{ link.last }}" class="site-button"
                  {% if site.aux_links_new_tab %}
                  target="_blank" rel="noopener noreferrer"
                  {% endif %}
                >
                  {{ link.first }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div id="main-content-wrap" class="main-content-wrap">
      {% unless page.url == "/" %}
        {% if page.parent %}
          <nav aria-label="Breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb-nav-list">
              {% if page.grand_parent %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
              {% else %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
              {% endif %}
              <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
            </ol>
          </nav>
        {% endif %}
      {% endunless %}
      <div id="main-content" class="main-content" role="main">
        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" %}
        {% else %}
          {{ content }}
        {% endif %}

        {% if page.has_children == true and page.has_toc != false %}
          <hr>
          <h2 class="text-delta">Table of contents</h2>
          <ul>
            {%- assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent -%}
            {% for child in children_list %}
              <li>
                <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.comments != false %}
           {% include disqus.html %}
        {% endif %}

        {% if site.footer_content != nil or site.last_edit_timestamp or site.gh_edit_link %}
          <hr>
          <footer>
            {% if page.tags.size > 0 %}
            <span>[Tags
              {% for tag in page.tags %}
              {% if tag != "" %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
              {% endif %}
              {% endfor %}
            ]</span>
            {% endif %}

            {% if site.back_to_top %}
              <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
            {% endif %}
            {% if site.footer_content != nil %}
              <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
            {% endif %}

            {% if site.last_edit_timestamp or site.gh_edit_link %}
              <div class="d-flex mt-2">
                {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
                  <p class="text-small text-grey-dk-000 mb-0 mr-2">
                    Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
                  </p>
                {% endif %}
                {% if
                  site.gh_edit_link and
                  site.gh_edit_link_text and
                  site.gh_edit_repository and
                  site.gh_edit_branch and
                  site.gh_edit_view_mode
                %}
                  <p class="text-small text-grey-dk-000 mb-0">
                    <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </footer>
        {% endif %}
      </div>
    </div>



    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
          <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search2"></use></svg>
        </a>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}
  </div>
</body>
<script id="dsq-count-scr" src="//dvtalk.disqus.com/count.js" async></script>
</html>
