---
layout: default
---

{{ content }}


<!DOCTYPE html>
<html lang="en">
  <body>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <form class="myForm" action="https://formspree.io/xwkrqywa" method="POST" >
      <p> <label>Name <input type="text" name="name" required> </label> </p>
      <p> <label>Email <input type="email" name="email_address"> </label> </p>
      <p> <label>AMA <textarea name="comments" maxlength="1500"></textarea> </label> </p>
      <p> <button>Tell me now </button></p>
    </form>
  </body>
</html>



